<footer class="border-top footer text-muted pt-3">
    <div class="container">
        &copy; @DateTime.Now.ToString("yyyy") - BookStore Application - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
