@model ForgotPasswordModel

@{ ViewData["Title"] = "Forgot Password"; }

<div class="container">
    <h3 class="display-4">Forgot Password</h3>
    <div class="col-md-8 offset-md-2">
        @if (Model?.IsEmailSent == true)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Congratulations!</strong> If an account exits, we have sent an email to your registered email id <br />
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        else
        {
            <form method="post" asp-action="ForgotPassword">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group mb-2">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group mb-2">
                    <button type="submit" class="btn btn-primary">Forgot Password</button>
                </div>

            </form>
        }
    </div>
</div>

