@model SignInModel
@{ ViewData["Title"] = "Login"; }

<div class="container">
    <h3 class="display-4">Login</h3>

    <div class="col-md-4">
        <form method="post">

        <div asp-validation-summary="All" class="text-danger"></div>
        
        <div class="form-group mb-2">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group mb-2">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group form-check mb-2">
            <label asp-for="RememberMe" class="form-check-lable"></label>
            <input asp-for="RememberMe" class="form-check-input" />
        </div>

        <div class="form-group mb-2">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>

    </form>
    </div>
    <div class="col-md-8">

    </div>
</div>

